<a href="https://colab.research.google.com/github/estjeremy/58003-OOP/blob/main/Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [4]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Nested For Loop

In [1]:
adjective = ["big", "tasty", "juicy"]
fruits = ["banana", "apple", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

big banana
big apple
big cherry
tasty banana
tasty apple
tasty cherry
juicy banana
juicy apple
juicy cherry

Break Statement in For Loop

In [2]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Print only Thursday using Break Statement in For Loop

In [7]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x== "Thursday":
    break
print(x)

Thursday

Looping through String

In [8]:
for x in "Phillippines":
  print(x)

P
h
i
l
l
i
p
p
i
n
e
s

While Loop

In [12]:
i = 1
while i<=6:
  print(i)
  i+=1    #same as i = i+1

1
2
3
4
5
6

While Loop using Break Statement

In [20]:
i = 1
while i<6:
  if i == 4:
    print(i)
    break
  i+=1
          #to display only 4

4

Application 1: Create a Python Program that displays Hello 0-10 in While Loop

In [18]:
i = 0
while i < 11:
    print("Hello", i)
    i += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2: Create a Python Program that displays integers less than 10 but not less than 3 in While Loop

In [21]:
i = 3
while i < 10:
    print(i)
    i += 1

3
4
5
6
7
8
9